<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Atualizar</title>
</head>
<body>
	<h1>Atualizar</h1>
	<hr>
	<form action="" method="POST">
		<table>
			<tr>
				<td>Endereço</td>
				<td><input type="text" name="endereco" value="imovel.endereco "></td>
			</tr>

			<tr>
				<td>Dimensões</td>
				<td><input type="text" name="dimensoes" value="imovel.dimensoes "></td>
			</tr>

			<tr>
				<td>Tipo</td>
				<td><input type="text" name="tipo" value="imovel.tipo "></td>
			</tr>

			<tr>
				<td>Quantidade de Comodos</td>
				<td><input type="text" name="qtdcomodos" value="imovel.qtdcomodos "></td>
			</tr>

			<tr>
				<td>Responsável</td>
				<td><input type="text" name="responsavel" value="imovel.responsavel "></td>
			</tr>

			<tr>
				<td>Status</td>
				<td><input type="text" name="status" value="imovel.status "></td>
			</tr>

			<tr>
				<td>Data</td>
				<td><input type="text" name="data" value="imovel.data "></td>
			</tr>
		</table><br>
		<input type="submit" value="Atualizar Dados">
	</form>
	
</body>
</html>